html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}
a {
  color: inherit;
  text-decoration: none;
}
main{
  /*width:100vw;*/
  overflow:hidden;
}
section{
  width:100%;

}

:root {
  --navHeight: 78px;
  --navPrimary: rgba(63, 55, 201, 0.98);
  /*--navPrimary: #3f37c9;*/
  --paleblue: #4361ee;
  --lightBlue: #1bd8fb;
  --cyanBlue : #4ccaf0;
  --blueDarker: #2e2686;
  /*--blueTechs: #141C3A;*/
  /*--blueTechs: #2b08e0 ;*/
  --blueTechs: #3b10d3 ;
  --paleBlack: #191919;
  --heroBlue:#3f37c9;
  --pinkBlue:#5F0CBD;
  --purpleBlue:#2016C1;
  --projectsBlue:#1f075b  ;
  --contactBlue:var(--paleBlack);
  /*--contactBlue:#5311B5;*/
  --footerBlue:#00b4d8;
  /*--footerBlue:#4ccaf0;*/
  /*--footerBlue:#3D00A1;*/
  --heightNoNav: calc(100vh - var(--navHeight));
}
@media(min-width:2200px){
  :root {
  --heightNoNav:  70vh;
  }
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--paleBlack);
  font-size: 18px !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navHeight);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fitImg img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
section .container{
  padding-top:2em;
}
.navPadding {
  padding-top: var(--navHeight) !important;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

#Hero {
  min-height: 100vh;
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  #Hero {
    height: 150vh;
  }

  .rightColumnHero {
    height: auto;
  }
}

.heroImg {
  /*background-position: 30% 50%;*/
  background-position: 65% 44%;

}
.heroImg:before{
  position: absolute;
  content:"";
  width:100%;
  height:100%;
  background-size: auto;
  background-repeat: no-repeat;
  backdrop-filter: blur(1.4px );
   filter: saturate(100%) invert(16%) sepia(35%) saturate(111%) hue-rotate(150deg);
}
.rajdhani,
h1,
h2,
h3{
  font-family: "Rajdhani", sans-serif !important;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  70%{
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {

    transform: translateY(0);
  }
}

.slideInLeft {
  animation: 0.5s ease-out 0s 1 slideInLeft;
}
.slideInRight{
  animation: 0.4s ease-out 0s 1 slideInRight;
}
.slideInTop{
  animation: 0.45s ease 0s 1 slideInTop;
}
.heroSquare {
  z-index: 5;
  padding: 15px 30px;
  /*position:absolute;*/
  /*background-color: var(--paleBlack);*/
  background-color: var(--heroBlue);
  border: 2px solid white;
  border-radius: 12px;
  color: ghostwhite;
  min-height: 380px;
  width: 74%;


  overflow: hidden;
  box-shadow: 0 0 25px 0 rgba( 255, 255, 255, 0.86);
}
.heroSquare h1{
  font-weight:400;
}

@media (max-width: 768px) {
  .heroSquare {
    width: 95%;
  }

  .heroImg {
    height: var(--heightNoNav);
  }
}

.heroSquare h1 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

.heroSquare a {
  height: 65px;
  width: 65px;
  margin: 2px 4px;
}
.custom-shape-divider-bottom-1682337666 {
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;

  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
#contact .custom-shape-divider-bottom-1682337666 {
  position: absolute;
  bottom:-3px;

}
.custom-shape-divider-bottom-1682337666 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-bottom-1682337666 .shape-fill {
  fill: var(--blueDarker    );
  /*fill: #ffffff;*/
}
.socialIcons a:hover svg {
  fill: var(--paleBlack);
  transform:scale(1.08);
}
.socialIcons a{
  width:65px;
  height:65px;
}
.socialIcons a:first-child{
  margin-right:25px;
}
.heroSquare .btn {
  font-size: 1.5rem;
  width: 140px;
  background-color: var(--lightBlue);
  color: black;
  font-weight: 600;
  border-radius:4px;
  box-shadow: 0 0 4px 0 rgba( 255, 255, 255, 0.3);
}

#Hero h1 {
  margin: 0;
}

.rightColumnHero {
  /*background-color: #4361ee;*/
  /*background: rgba( 255, 255, 255, 0.05);*/
  /*box-shadow: 0 1px 10px 0 rgba( 255, 255, 255, 0.4);*/

}

.rightColumnHero img {
  width: 55%;
  height: 55%;
}
.App {
  overflow: hidden;
}
header {
  height: var(--navHeight);
  font-size: 25px;
  background: var(--navPrimary);
  letter-spacing: 2px;
}

.nav-link {
  color: white !important;
  border-top: 3px solid transparent;
  font-weight: 500 !important;
  opacity: 0.85;
}
.navbar-collapse {
  background: var(--navPrimary);
  transition: transform 0.4s ease 0s;
  height:380px;
  transform: translateY(-380px);
  z-index:1;

}
.navShow{

  transform: translateY(0);
}
@media (min-width: 1200px) {
  .navbar-nav {
    margin-right: 10% !important;
  }
  .navbar-collapse {
    background:transparent;
  }
  header{
    background:rgba(0,0,0, 0.08);
  }
  .nav-link:hover {
    border-top: 3px solid white;
    opacity: 1;
  }
  .navbar-collapse{
    transform: translateY(0px);
    height:auto;
  }
}
.navbar-brand img {
  width: 270px;
  height: 56px;
  margin-left: 1vw;
  z-index:55;
}

@media (max-width: 350px) {
  .navbar-brand img {
    width: 150px;
    height: 31px;

    z-index:55;
  }
}

.navbar-toggler{
  z-index:55;
}
.navbar-brand {
  padding-top: 2px;
}
.nav-item {
  margin: 0 7px;
}

.scrolled1 {
  background-color: var(--paleblue) !important;
}
.scrolled2 {
  background-color: var(--blueDarker) !important;
}
.flagIMG{
  width:60px;
  height:45px;
}
.flagIMG img{
  width:100%;
  height:100%;
  background: rgba( 255, 255, 255, 0.12 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  padding:0 3px;
}
.flagWrap{
  position:relative;
  display:flex;
  justify-content: center;
}
.secondLang{
  display:none;
  position:absolute;
}
.secondLang img:hover {
  transform:scale(1.1 );
}

.flagWrap:hover{
  cursor:pointer !important;

}
.flagWrap:hover .secondLang{
  display:block !important;

}

/* ========= ABO UT ===========*/
#about {
  min-height: var(--heightNoNav);
  /*background-color:white;*/
  background-color: var(--blueDarker);
  color: white;
  position:relative;
}
#about .paragraph1{
  white-space: pre-wrap;
}
/*#about .container > h1:first-of-type*/
.header1
{
  border-bottom: 2px solid white;
  width: 250px;
  font-weight: 500;
  padding-bottom:0.15em;
  padding-left:1px;
  letter-spacing: 0.02em;
  margin:2px 0 0.5em;
  font-size:2.5rem;
}
#about .paragraph1{
  font-size: 1.1em;
  font-weight:300;
}
@media (max-width: 1024px) {
  #about .paragraph1{
    font-size:19px;
  }
}

.paragraph1 {
  line-height: 1.7;
  letter-spacing: 1px;
  /*text-size-adjust: auto; */
}
.aboutCard img {
  width: 300px;
  height: 200px;
}
.possible {
  letter-spacing: 2px;
  font-size: 1.4em;
}
.aboutProfile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid white;
  vertical-align: bottom;
}
.aboutProfile {
  height: 220px;
  width: 182px;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: -5px -5px 0 var(--lightBlue);
  border:1px solid black;
}
.techCity {
  width:35vw !important;
  height:auto;
  padding-top:45px;
  padding-left:10px;
}
.techCity h6{
  font-size:10px;
  font-family: "Lato", sans-serif;
  text-align: right;
  color:cyan;
  padding:3px;
  position:absolute;
  bottom:0;
  margin-left:10px;
}
.techCity a{
  color:white;
}
.line1 {
  background-color:lightgray;
  margin:30px auto  10px;
  /*width:80%;*/
  height: 1px;
}

/*===== Technologies ========*/
#technologies {
  min-height: var(--heightNoNav);
  background-color: var(--blueTechs);
  color: white;
  /*text-align: center;*/
  /*padding-top: 15px;*/

}
.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
#technologies p:first-of-type{
  font-weight:400;
}
#technologies h2{
text-align: center;
}
.techWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 6px 12px 14px;

}

.techWrapper h6{
  font-size:1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.techIcon {
  width: 45px;
  height: 45px;
}
#technologies article:last-of-type{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:45px;
}
#technologies article:last-of-type h2{
  border-top:1px solid white;
  display:inline;
  padding:12px;
  width:50%;
}
  /*======== PROJECTS =======*/
#projects{
  min-height: var(--heightNoNav);
  background:var(--footerBlue) ;
  background:var(--projectsBlue);
  /*background:var(--blueTechs);*/
  /*background-image: linear-gradient( 180deg,  #362d9e 60%, var(--cyanBlue) 92.3% );*/
    color:white;
  position:relative;
}

.project{
  color:white;
  box-shadow: 0 0 15px 0 var(--cyanBlue);
  /*width:1200px;*/
  /*height:450px;*/
  max-width:1200px;
  background:var(--heroBlue);
  border: 1px solid var(--lightBlue);
  /*border: 1px solid rgba(255, 255, 255, 0.125);*/
  display:flex;

  margin-bottom:70px;
  border-radius:8px;
  overflow:hidden;
}
@media (max-width: 1180px) {
  .project{
    width:85vw;
  }
}

#projects .shape-fill {
  fill: var(--contactBlue);
}

.projectMain{
  font-size:1.1em;
  color:white;
  /*width:80%;*/
  width:800px;
  height:396px;
}
.projectMain .paragraph2{
  /*background: rgba(0,0,0,0.35);*/
  width:100%;
}
.projectLogo {
 width:75px;
}
.projectMain{
  background: rgba(0,0,0,0.35);
}
.customScroll::-webkit-scrollbar {
  width: 12px;
}
@media (max-width:912px){
  .customScroll::-webkit-scrollbar{
    width:20px;
  }
}
.customScroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.customScroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--cyanBlue) ;
  border: 3px solid rgba(22,22,22,1);
}
.projectMain p{
  white-space:pre-wrap;
  font-weight: 400;

}
.projectMain img{
  width:100%;
  height:auto;
  max-height: 100%;
  object-fit:cover;

}
.projectRight{
  flex:1;
  height:396px;
  max-width:290px;
  position:relative;
}
.projectIcons{
  background-color:var(--blueTechs);
  height:50%;
  width:100%;
  margin-top:auto;
  padding:5px 0;
}
.projectIcons h1{
  text-align: center;
}
.activeIcon{
  background:var(--cyanBlue) !important;
}
.paragraph2{
  line-height: 1.7;
  letter-spacing: 1px;
  margin:0;

}
.project h1{
  font-size:1.4em;
  margin:5px;
}

.technology{
  margin:3px 11px;
  width:34px;
  height:34px;

}
.BtnComponent{
  margin:0 7px;
  background: rgba( 255, 255, 255, 0.795 );
  box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.97 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  color:white;
  max-height:150px;
}
@media (max-width: 1280px) {

  .projectMain{
    flex:100%;
    width:100%;
    display:none !important;
  }
  .projectLogo{
    display:block;
    width:85px;
  }
  .project{
    height:auto;
    width:100%;
  }
  .projectRight{
    max-width:none;
    height:500px;
  }
}
.BtnComponent:hover{
  transform:scale(1.1);
  cursor:pointer;
}

.BtnComponent img{
  width:40px;
  height:40px;
}
.techFooter div{
  background:var(--heroBlue);
}
.techFooter h3{
  font-size:1.2em;
  border-top:1px solid white;
  width:28%;
  padding:4px;
text-align: center;
  margin-top:4px
}
.modal{
  width:100vw;
  background:rgba(1, 1, 1, 0.55)
}
.modal .projectModal{
  color:black;
  min-height:15px;

}
.projectModal .paragraph2{
  background:var(--blueDarker);
}
.modal-body{
  height:50vh;
  padding:0 !important;
  overflow:auto !important;
  border:2px solid white;

}
.modal-content{
  min-height:40vh;
  border:1px solid white;
}

.modal-content{
  max-width:90vw;

}

.projectModal .projectMain{
 display:flex !important;
}

/* ======= Contact ========*/

#contact{
  color:white;
  background-color:var(--contactBlue);
  min-height:600px;
  position:relative;
  padding:60px 0;

}
#contact .shape-fill {
  fill: var(--footerBlue);
}
.contactForm{
  display:flex;
  flex-direction:column;
  width:80%;
  min-height:500px;
  /*max-height:550px;*/
  background: rgba(54, 3, 154, 0.75);
 box-shadow: rgba(255,255,255, 1) 0px 0px 14px;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 3px solid var(--lightBlue);
  /*border: 1px solid rgba( 1, 255, 255, 0.18 );*/
  padding:  9px;
  font-size:1.1em;
}
@media (max-width: 768px) {
  .contactForm{
    width:100%;
    max-height:none;
  }
  .techCity{
    width:100% !important;
  }
}
.contactForm button{
  border:1px solid var(--cyanBlue);
}
#contact form label{
  margin:0;
  font-size:1.3em;
  letter-spacing:1px;
  font-weight: 400;
}


#contact form input{
  padding:0.5em;
  font-size:0.8em;
  -webkit-appearance: none;
  outline:none;
  background:#f9f9f9;
margin-bottom:15px;

}
#contact form input, textarea{
  box-shadow: 3px 3px 0 var(--lightBlue);
  /*box-shadow: 0 0 25px 0 rgba( 255, 255, 255, 0.86);*/
  border:1px solid white;
}

#contact form input[type=email]{
 max-width:270px;
}
#contact form input[type=text]{
  max-width:450px;
}
#contact form textarea{
  min-height:115px;
  max-height:180px;
  padding:5px;
}
 #contact form textarea:focus{
  border: none;
  overflow: hidden;
  outline: none;

}
#contact form input:focus,
#contact form textarea:focus,
#contact form button:hover{
  box-shadow: 6px 6px 0 var(--lightBlue);
}
#contact form div{
  margin-top:8px;
  margin-left:3px;
  height:25px;
}
#contact form h2{
  font-size:1.2em;
}
/*/===== Footer =====*/
footer{
  background-color:var(--footerBlue);
  min-height:75px;
  padding-top:10px;
  display:flex;
  justify-content: center;
  align-items:center;
}
footer h2{
  font-size:21px;
  letter-spacing:2px;
  color:#0c1f2d !important;
  display:inline;
  padding:11px;
  border-top: 1px solid white;
}
/*BIG SCREENS*/
@media (min-width: 2100px) {
  body{
    font-size:1.1vw !important;
  }
  .heroSquare{
    max-width:760px;
  }
  .heroSquare h1{
    font-size:1.4vw;
  }
  .heroSquare .btn{
    font-size:1.1vw;
    width:28%;
    height:auto;
  }
  h2{
    font-size:1.2vw;
  }
  .header1{
    font-size:3vw !important;
    /*max-width:15vw;*/
    /*width:auto;*/
  }
  .paragraph1{
    font-size:1.5vw !important;
  }
  .possible{
    font-size:1.7vw;
  }

  .btn{
    font-size:1.3vw;
  }
  .container{
    width:65vw !important;
    max-width:none;
  }
  .aboutCard img {
    width: 900px;
    height: 600px;
  }
  .project h1{
    font-size:0.8vw;
  }
  .projectMain {

    width: 1200px;
    height: 496px;
  }
  .projectRight{
    height:496px;
  }
}