:root {
  --navHeight: 78px;
  --navPrimary: rgba(63, 55, 201, 0.98);
  --paleBlue: #4361ee;
  --blueLight: #1bd8fb;
  --blueCyan: #4ccaf0;
  --blueAbout: #2e2686;
  --blueTools: #3b10d3;
  --blackFooter: #191919;
  --blueHero: #3f37c9;
  --bluePink: #5f0cbd;
  --bluePurple: #2016c1;
  --blueProjects: #1f075b;
  --blueContact: var(--blackFooter);
  --blueFooter: #00b4d8;
  --heightNoNav: calc(100vh - var(--navHeight));
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--blackFooter);
  font-size: 16px;
}
header {
  height: var(--navHeight);
  font-size: 1.18rem;
  background: var(--navPrimary);
  letter-spacing: 2px;
}
h1 {
  font-size: 2.027rem;
}

h2 {
  font-size: 1.802rem;
}

h3 {
  font-size: 1.602rem;
}

h4 {
  font-size: 1.424rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navHeight);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  overflow: hidden;
}

section {
  width: 100%;
}

@media (min-width: 2200px) {
  :root {
    --heightNoNav: 70vh;
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fitImg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

section .container {
  padding-top: 2em;
}

.navPadding {
  padding-top: var(--navHeight) !important;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

#hero {
  min-height: 100vh;
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  #hero {
    height: 150vh;
  }

  .rightColumnHero {
    height: auto;
  }
}

.heroImg {
  background-position: 65% 44%;
  background-attachment: fixed;
}

.heroImg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  backdrop-filter: blur(1.4px);
  filter: saturate(100%) invert(16%) sepia(35%) saturate(111%)
    hue-rotate(150deg);
}

.rajdhani,
h1,
h2,
h3 {
  font-family: "Rajdhani", sans-serif !important;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  72% {
    transform: translateX(3%);
    opacity: 0.25;
  }
  78% {
    transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  72% {
    transform: translateX(-3%);
    opacity: 0.25;
  }
  78% {
    transform: translateX(0);
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideInLeft {
  animation: 0.7s ease-in 1 slideInLeft;
}

.slideInRight {
  animation: 0.7s ease-out 1 slideInRight;
}

.slideInTop {
  animation: 0.7s ease 1 slideInTop;
}

.heroSquare {
  z-index: 5;
  padding: 15px 30px;
  background-color: var(--blueHero);
  border: 2px solid white;
  border-radius: 12px;
  color: ghostwhite;
  min-height: 380px;
  width: 74%;
  overflow: hidden;
  box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.86);
}

.socialIcons a:hover svg {
  fill: var(--blueFooter);
  transform: scale(1.08);
}

.socialIcons a {
  width: 65px;
  height: 65px;
}

.socialIcons a:first-child {
  margin-right: 25px;
}

.heroSquare .btn {
  font-size: 1.33rem;
  width: 140px;
  background-color: var(--blueLight);
  color: black;
  font-weight: 600;
  border-radius: 9px;
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.3);
}
.aboutBtn:hover {
  background: cyan;
  scale: 104%;
}

#hero h1 {
  margin: 0;
}

.rightColumnHero img {
  width: 55%;
  height: 55%;
}
@media (max-width: 768px) {
  .heroSquare {
    width: 95%;
  }

  .heroImg {
    height: var(--heightNoNav);
  }
}

.heroSquare h1 {
  letter-spacing: 1.4px;
  padding-bottom: 12px;
}

.heroSquare a {
  height: 54px;
  width: 65px;
  margin: 2px 4px;
}

/*  ======  WAVE ====== */
section:not(#hero) {
  padding-bottom: 60px;
}
.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 61px;
}

#hero .wave .shape-fill {
  fill: var(--blueAbout);
}
#about .wave .shape-fill {
  fill: var(--blueTools);
}
#tools .wave .shape-fill {
  fill: var(--blueProjects);
}
#projects .wave .shape-fill {
  fill: var(--blackFooter);
}

.App {
  overflow: hidden;
}

/* ====== NAVBAR ====== */

.nav-link {
  border-top: 3px solid transparent;
  font-weight: 400;
}

.nav-link:hover {
  color: var(--blueHero) !important;
  opacity: 1;
}

.navbar-collapse {
  background: var(--navPrimary);
  transition: transform 0.4s ease 0s;
  max-height: 36g0px;
  transform: translateY(-380px);
  z-index: 1;
}

.navShow {
  transform: translateY(0);
}

@media (min-width: 1200px) {
  .navbar-nav {
    margin-right: 10% !important;
  }

  .navbar-collapse {
    background: transparent;
  }

  header {
    background: rgba(0, 0, 0, 0.08);
  }

  .navbar-collapse {
    transform: translateY(0px);
    height: auto;
  }
}

.navbar-brand img {
  width: 270px;
  height: 56px;
  margin-left: 1vw;
  z-index: 5;
}

@media (max-width: 370px) {
  .navbar-brand img {
    width: 150px;
    height: 31px;
    z-index: 55;
  }
}

.navbar-toggler {
  z-index: 55;
}

.navbar-brand {
  padding-top: 2px;
}

.nav-item {
  margin: 0 7px;
}

.scrolled1 {
  border-bottom: 1px solid var(--blueFooter);
}

.scrolled2 {
  background-color: var(--blueAbout) !important;
}

.flagIMG img {
  backdrop-filter: blur(5px);
}
.flagIMG.locale {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(5px);
  padding: 0 3px;
}
.arrowDown {
  width: 30px;
  height: auto;
}
.langSwitcher {
  font-size: 12px;
}

.secondLang:hover {
  cursor: pointer;
  text-decoration: none;
  color: var(--blueAbout);
  font-weight: 800;
}

/* ========= ABO UT ===========*/
#about {
  min-height: var(--heightNoNav);
  background-color: var(--blueAbout);
  color: white;
  position: relative;
}

#about .paragraph1 {
  white-space: pre-wrap;
}

.header1 {
  border-bottom: 2px solid white;
  width: 250px;
  font-weight: 500;
  padding-bottom: 0.15em;
  padding-left: 15px;
  letter-spacing: 0.02em;
  margin: 2px 0 0.5em;
  font-size: 2.5rem;
}

#about .paragraph1 {
  font-size: 1.18em;
  font-weight: 300;
}

@media (max-width: 1024px) {
  #about .paragraph1 {
    font-size: 19px;
  }
}

.paragraph1 {
  line-height: 1.8rem;
  letter-spacing: 0.9px;
  /*text-size-adjust: auto; */
}

.aboutCard img {
  width: 300px;
  height: 200px;
}

.possible {
  letter-spacing: 2px;
  font-size: 1.4em;
}

.aboutProfile img {
  object-fit: cover;
  display: block;
  vertical-align: bottom;
}

.aboutProfile img {
  padding: 0;
  box-shadow: -5px -5px 0 var(--blueLight);
  border: 1px solid black;
  outline: 2px solid white;
}

.techCity {
  width: 35vw !important;
  height: auto;
  padding-top: 45px;
  padding-left: 10px;
}

.techCity h6 {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  text-align: right;
  color: cyan;
  padding: 3px;
  position: absolute;
  bottom: 0;
  margin-left: 10px;
}

.techCity a {
  color: white;
}

.line1 {
  background-color: lightgray;
  margin: 30px auto 10px;
  height: 2px;
}

/*===== tools ========*/
#tools {
  min-height: var(--heightNoNav);
  background-color: var(--blueTools);
  color: white;
  position: relative;
}

#tools h2 {
  text-align: center;
}

.techWrapper {
  margin: 6px 13px;
  max-width: 90px;
}

.techWrapper h6 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.toolIcon {
  width: 45px;
  height: 45px;
}

#tools article:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

#tools article:last-of-type h2 {
  border-top: 1px solid white;
  display: inline;
  padding: 12px;
  width: 50%;
}

/*======== PROJECTS =======*/
#projects {
  min-height: var(--heightNoNav);
  background: var(--blueProjects);
  color: white;
  position: relative;
}

.project {
  color: white;
  box-shadow: 0 0 15px 0 var(--blueCyan);
  max-width: 1200px;
  background: var(--blueHero);
  border: 1px solid var(--blueLight);
  display: flex;
  margin-bottom: 70px;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 1180px) {
  .project {
    width: 85vw;
  }
}

#projects .shape-fill {
  fill: var(--blueContact);
}

.projectMain {
  font-size: 1.1em;
  color: white;
  /*width:80%;*/
  width: 800px;
  height: 396px;
}

.projectMain .paragraph2 {
  /*background: rgba(0,0,0,0.35);*/
  width: 100%;
}

.projectLogo {
  width: 65px;
}

.projectMain {
  background: rgba(0, 0, 0, 0.35);
}

.customScroll::-webkit-scrollbar {
  width: 12px;
}

@media (max-width: 912px) {
  .customScroll::-webkit-scrollbar {
    width: 20px;
  }
}

.customScroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.customScroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--blueCyan);
  border: 3px solid rgba(22, 22, 22, 1);
}

.projectMain p {
  white-space: pre-wrap;
  font-weight: 400;
}

.projectMain img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.projectRight {
  flex: 1;
  height: 396px;
  max-width: 290px;
  position: relative;
}

.projectIcons {
  background-color: var(--blueTools);
  /* height: 50%; */
  width: 100%;
  margin-top: auto;
  padding: 5px 0;
}

.projectIcons h1 {
  text-align: center;
}

.activeIcon {
  background: var(--blueCyan) !important;
}

.paragraph2 {
  line-height: 1.7;
  letter-spacing: 1px;
  margin: 0;
}

.project h1 {
  font-size: 1.4em;
  margin: 5px;
}

.tool {
  margin: 3px 11px;
  width: 34px;
  height: 34px;
}

.iconButton {
  margin: 0 7px;
  background: rgba(255, 255, 255, 0.795);
  box-shadow: 0 8px 12px 0 rgba(31, 38, 135, 0.97);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  color: white;
  max-height: 150px;
}

@media (max-width: 1280px) {
  .projectMain {
    flex: 100%;
    width: 100%;
    display: none !important;
  }

  .projectLogo {
    display: block;
    width: 85px;
  }

  .project {
    height: auto;
    width: 100%;
  }

  .projectRight {
    max-width: none;
    height: 500px;
    width: 80vw;
  }
}

.iconButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.iconButton img {
  width: 40px;
  height: 40px;
}

.techFooter div {
  background: var(--blueHero);
}

.techFooter h3 {
  font-size: 1.2em;
  border-top: 1px solid white;
  width: 28%;
  padding: 4px;
  text-align: center;
  margin-top: 4px;
}

.modal {
  width: 100vw;
  background: rgba(1, 1, 1, 0.55);
}

.modal .projectModal {
  color: black;
  min-height: 15px;
}

.modal-body {
  height: 50vh;
  padding: 0 !important;
  overflow: auto !important;
  border: 2px solid white;
}

.modal-content {
  min-height: 40vh;
  border: 1px solid white;
}

.modal-content {
  max-width: 90vw;
}

.projectModal .projectMain {
  background: var(--blueAbout);

  display: flex !important;
}

/* ======= Contact ========*/

#contact {
  color: white;
  background-color: var(--blueContact);
  min-height: 600px;
  position: relative;
  padding: 60px 0;
}

#contact .shape-fill {
  fill: var(--blueFooter);
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 500px;
  background: rgba(54, 3, 154, 0.75);
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 14px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 3px solid var(--blueLight);
  padding: 9px;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .contactForm {
    width: 100%;
    max-height: none;
  }

  .techCity {
    width: 100% !important;
  }
}

.contactForm button {
  border: 1px solid var(--blueCyan);
}

#contact form label {
  margin: 0;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 400;
}

#contact form input {
  padding: 0.5em;
  font-size: 0.8em;
  -webkit-appearance: none;
  outline: none;
  background: #f9f9f9;
  margin-bottom: 15px;
}

#contact form input,
textarea {
  box-shadow: 3px 3px 0 var(--blueLight);
  border: 1px solid white;
}

#contact form input[type="email"] {
  max-width: 270px;
}

#contact form input[type="text"] {
  max-width: 450px;
}

#contact form textarea {
  min-height: 115px;
  max-height: 180px;
  padding: 5px;
}

#contact form textarea:focus {
  border: none;
  overflow: hidden;
  outline: none;
}

#contact form input:focus,
#contact form textarea:focus,
#contact form button:hover {
  box-shadow: 6px 6px 0 var(--blueLight);
}

#contact form div {
  margin-top: 8px;
  margin-left: 3px;
  height: 25px;
}

#contact form h2 {
  font-size: 1.2em;
}

/*/===== Footer =====*/
footer {
  background-color: var(--blueFooter);
  min-height: 75px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h2 {
  font-size: 21px;
  letter-spacing: 2px;
  color: #0c1f2d !important;
  display: inline;
  padding: 11px;
  border-top: 1px solid white;
}

/*BIG SCREENS*/
@media (min-width: 2100px) {
  body {
    font-size: 1.1vw !important;
  }

  .heroSquare {
    max-width: 760px;
  }

  .heroSquare h1 {
    font-size: 1.4vw;
  }

  .heroSquare .btn {
    font-size: 1.1vw;
    width: 28%;
    height: auto;
  }

  h2 {
    font-size: 1.2vw;
  }

  .header1 {
    font-size: 3vw !important;
  }

  .paragraph1 {
    font-size: 1.5vw !important;
  }

  .possible {
    font-size: 1.7vw;
  }

  .btn {
    font-size: 1.3vw;
  }

  .container {
    width: 65vw !important;
    max-width: none;
  }

  .aboutCard img {
    width: 900px;
    height: 600px;
  }

  .project h1 {
    font-size: 0.8vw;
  }

  .projectMain {
    width: 1200px;
    height: 496px;
  }

  .projectRight {
    height: 496px;
  }
}

p {
  letter-spacing: 0.1em;
  font-weight: 300;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition:
    background 200ms,
    border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
